@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* jFgS8tteGD425f4oZfygQVaVnD6gt6GucN2yyz3xFek */
* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bebas Neue, sans-serif!important;
  background: whitesmoke;
}
.heart {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 40px;
  top: 25px;
  display: none;
  color: green;
}
.gallery:hover .heart {
  display: block;
}
.gallery {
  border-radius: 5px;
  padding: 7px;
  background: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.gallery_image {
  width: 100%;
}
.top {
  column-count: 4;
  column-gap: .5em;
  max-width: 980px;
  margin: auto;
  width: 100%;
}

@media(max-width: 800px) {
  .top {
    column-count: 3;
}
}

@media(max-width: 600px) {
  .top {
    column-count: 2;
}
}

@media(max-width: 400px) {
  .top {
    column-count: 1;
}
}