@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* jFgS8tteGD425f4oZfygQVaVnD6gt6GucN2yyz3xFek */
* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bebas Neue, sans-serif!important;
  background: whitesmoke;
}
.heart {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 40px;
  top: 25px;
  display: none;
  color: green;
}
.gallery:hover .heart {
  display: block;
}
.gallery {
  width: 33%;
  position: relative;
}
.gallery_image {
  width: 100%;
  vertical-align: bottom;
}
.top {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px; 
  }
}